.hd {
	    padding: 2em 0;
	}
.page_title {
    text-align: center;
    font-size: 30px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}
li.media {
    list-style: none;
}
.weui_cells_textarea {
    border: #3cc51f 2px solid;
}
.panel-content{
	width: 100%;
    padding-right: 15px;
    padding-top: 10px;
}
.textarea-lyics {
    width: 60%;
}
audio {
    height: 20px;

}
.detaile-content textarea{
    border: 1.5px solid #000 ;
    color: #000;
}
#audio-play{
  position: absolute;
    bottom: 0;
    left: 0;
}



.activated{
  color:#33b;
  font-weight:bold;
  background:#ddf;
  font-size: 22px;
 }
 #lrc{
  text-align:center;
  width: 100%;
  height:400px;
  overflow:hidden;
  margin-bottom: 10px;
 }
 .lyrics-container{
  position:relative;
  width:100%;
  height:80%;
  overflow:hidden;
  margin-top: 20px;

 }
 .info{
    padding-top:20px;
 }
 .lyrics-title{
    color: #eff5ee;
 }
 .info p{
    margin-left: 20px;
    font-weight:bold;
    font-size:16px;
 }
 .lyrics-container2{
  position:absolute;
 }
 #lrc p{
    width: 350px;
  text-indent:0;
  margin:0;
  padding:6px;
 }
 .music-title,.album,.artist{
  margin:0;
  padding:4px;
  text-indent:0;
  text-align:left;
 }



.control-play{
  text-align: center;
}
.control-play .type {
    display: inline-block; 
    margin: 0 auto;
    text-align: center;
    color: #000;
} 
.control-play .type::after {
    clear: both;
    content: "";
    display: block;
}

.control-play .type li {
    list-style: outside none none;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    cursor: pointer;
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
}
.control-play .type li:first-child {
    border-bottom-left-radius: 5px;
    border-left: 1px solid #000;
    border-top-left-radius: 5px;
}
.control-play .type li:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.control-play .type .selected01 {
    background: #fff none repeat scroll 0 0;
    color: #000;
}
.panel-lyics {
    text-align: center;
     border:2px solid #ddd;
    background-color:rgba(214, 116, 58, 0.59);
    box-shadow: 2px 2px 2px silver;

}
#as{
  position: relative;
  padding: 16px;
  background-color: #fafafa;
}