.hd {
	    padding: 2em 0;
	}
.page_title {
    text-align: center;
    font-size: 30px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}
li.media {
    list-style: none;
}
.weui_cells_textarea {
    border: #3cc51f 2px solid;
}